<?xml version="1.0" ?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/camera.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/caster.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/plugins.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/wheel.xacro" />

  <!-- Dummy -->
  <link name="dummy"></link>
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy" />
    <child link="chassis" />
  </joint>

  <xacro:property name="chassis_mass" value="5.0" />
  <xacro:property name="chassis_size" value="0.5 0.3 0.07" />
  <link name="chassis">
    <!-- pose and inertial -->
    <pose>0 0 0.1 0 0 0</pose>
    <inertial>
      <mass value="${chassis_mass}" />
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.106208333333"/>
    </inertial>
    <collision>
      <geometry>
        <box size="${chassis_size}" />
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="${chassis_size}"/>
      </geometry>
    </visual>
  </link>

  <!-- Wheels -->
  <xacro:wheel right="1" name="right" diameter="0.2" />
  <xacro:wheel right="0" name="left" diameter="0.2" />

  <!-- Caster -->
  <xacro:caster_sphere name="caster" diameter="0.1" origin="0.20 0 -0.05" />

  <!-- Camera -->
  <xacro:camera joint="joint_chassis_camera" link="link_camera" parent="chassis" />
</robot>
